button {
    background-color: #4CAF50;
    border: black;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

button1 {
  border-radius: 12px;
}
button2 {
  border-radius: 12px;
}
button3 {
  border-radius: 12px;
}
button4 {
  border-radius: 12px;
}
