h1 {
  text-align: center;
}

.button4 {
    float: left;
    margin: 0px;
}

.button1 {
    position:absolute;
}

.button2 {
    text-align:center;
    position:relative;
}

.button {
  float: right;
}
